version: '3'
services:
  web:
    image: tramp_walnutbrains_org:1.0.0
    build: .
    container_name: tramp_walnutbrains_org
    environment:
      VIRTUAL_HOST: tramp.walnutbrains.org 
      VIRTUAL_PORT: 80
      LETSENCRYPT_HOST: tramp.walnutbrains.org 
      LETSENCRYPT_EMAIL: smcgarril@gmail.com
    restart: always
    ports:
      - "8080:80"
    expose:
      - 80
networks:
  default:
    external:
      name: nginx-proxy
